/*Root variables*/
:root {
  --main-salmon:#F4AEA0;
  --main-dark-blue:#5C61B3;
  --main-light-blue:#777CD3;
  --main-yellow:#F3C771;
  --main-background:#F1F0FF;
  --bs-btn-active-bg:#5C61B3;
}
/* Universal styling*/ 
body{
  background-color:var(--main-background);
}
/* Header styling*/
.header__wrap {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:center;
  /* margin:2rem; */
  border-bottom: solid 0.1rem var(--main-dark-blue);
}
.header__name {
  display:flex;
  line-height:1;
}
.header__name, .dropdown{
  margin:3rem;
}
.header__name--icon {
  font-size:2.5rem;
  color:var(--main-dark-blue);
}
.header__name--color{
  color:var(--main-salmon);
}
.user__nav--button{
  border-radius:100%;
}
.btn{
  background-color: var(--main-dark-blue);
  padding:.8rem;
  color:white;
}
.btn:hover{
  background-color: var(--main-dark-blue);
  color:white;
}
.btn.show{
  color:white;
}

/* Media Queries*/