/*Root variables*/
:root {
  --main-salmon:#F4AEA0;
  --main-dark-blue:#5C61B3;
  --main-light-blue:#777CD3;
  --main-lightest-blue:#C9C5EF;
  --main-yellow:#F3C771;
  --main-background:#F1F0FF;
  --bs-btn-active-bg:#5C61B3;
}

body > #root > div {
  height: 100vh;
}
/* Universal styling*/ 
body{
  background-color:var(--main-background);
  font-family: 'Poppins', sans-serif;
}
.name__wrap {
  display:flex;
  line-height:1;
}
/* Header styling*/
.header__wrap {
  
  /* margin:2rem; */
  border-bottom: solid 0.1rem var(--main-dark-blue);
}
header{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:center;
}
.header__name--title{
  font-size:2.5rem;
  font-weight:bolder;
}
.header__name, .dropdown, .login__buttons--wrap{
  margin:3rem;
}
.header__name--icon {
  font-size:2.5rem;
  color:var(--main-dark-blue);
}
.header__name--color{
  color:var(--main-salmon);
}
.user__nav--button{
  border-radius:100%;
}
.btn{
  background-color: var(--main-dark-blue);
  width:3rem;
  height:3rem;
  color:white;
}
.btn:hover{
  background-color: var(--main-dark-blue);
  color:white;
}
.btn.show{
  color:white;
}
/* Header styling continued -- Pre-auth screen*/
.signup__nav--button{
  border-radius:75px;
  height:3rem;
  width:5rem;
  background-color:var(--main-dark-blue);
  border-color: transparent;
  color:white;
  margin-left:1rem;
}
.login__nav--button{
  border:none;
}
/* Page wrapping*/
.feev__page--wrap{
  display:flex;
  flex-flow: row wrap;
  width:100%;
  height:100%;
}
/* Side nav styling*/
.sideNav__wrap{
  width:20%;
  border-right: solid 0.1rem var(--main-dark-blue);
  /* height:100%; */
  display:flex;
  justify-content:center;
 
}
.sideNav__list{
  list-style: none;  
  margin-top:3rem;
}
.sideNav__list > li{
  font-size:1.5rem;
  margin:1.25rem;
}
.mobile-nav__show{
  display:none;
  border-radius: 100%;
  width:3rem;
  height:3rem;
}
/* Page wrap styling*/
.feev__router-page--wrap{
  width:80%;
  display:flex;
  flex-direction: column;
}
.feev__home{
  height:100%;
}
.feev__landing-wrap, .feev__landing-page{
  width:100%;
}

/* Login and Signup*/
.login-signup-page__wrap{
  height:100%;
  width:100%;
  
  display:flex;
  justify-content:center;
  align-items:center;
}
.login-signup__wrap{
  margin:3rem;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.login-signup__form{
  display:flex;
  flex-direction:column;
  width:35rem;
  height:35rem;
  justify-content:center;
  align-items: center;
  background-color:var(--main-lightest-blue);
  border-radius: 66% 94% 85% 90% / 55% 68% 90% 85%;
}
.form-input{
  border-radius:74px;
  border-color:transparent;
  margin:0.5rem;
  width:100%;
}
.form__label{
  align-self:flex-start;
  justify-self: flex-start;
  font-weight: bolder;
}
.form__title{
  font-size:1.5rem;
  font-weight: bolder;
  margin:0.5rem;
}
.form__label-input--pair{
  display:flex;
  flex-direction: column;
  margin:0.25rem;
}
.login__button{
  background-color: var(--main-dark-blue);
  border-radius: 75px;
  height:3rem;
  width:5rem;
  border-color:transparent;
  color:white;
}
/* Landing styling*/
.feev__landing-main-wrap{
  display:flex;
  flex-flow:row wrap;
  margin:3rem;
  justify-content: center;
}
.feev__landing-main-figure{
  width:35%;
}
.feev__landing-main__blurb{
  width:40%;
  margin:2rem;
}
.feev__landing-secondary--title{
  font-size:2rem;
  font-weight: bolder;
}
.feev__landing-secondary--wrap{
  background-color: var(--main-dark-blue);
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  padding:2rem 0;
  margin:1rem 0;
}
.feev__landing-secondary-cards{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 0;
}
.feev__landing--card{
  width:20rem;
  flex-basis:20rem;
  background-color:white;
  margin:1rem;
  border-radius: 75px;
  height:20rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.feev__landing--card > p {
  text-align: center;
  font-size:1.15rem;
  margin:1rem;
}
.feev__landing-card--icon{
  font-size:6rem;
  margin:1rem;
}
.feev__landing-card--join{
  color:var(--main-lightest-blue);
}
.feev__landing-card--watch{
  color:var(--main-salmon);
}
.feev__landing-card--trophy{
  color:var(--main-yellow);
}
.feev__landing-card--title{
  font-size:2rem;
  font-weight: bolder;
  margin:1rem;
}
/* Quiz Category Selection Styling*/
.feev__trivia-select--wrap{
  margin:2rem;
}
.trivia__page-title{
  font-size:2rem;
  font-weight: bolder;
}
.group-title{
  font-size: 1.5rem;
  font-weight: bolder;
}
.trivia-group{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}
.trivia-choice-card{
  flex-basis:28%;
  height:12rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
  margin:1rem;
}
.trivia-choice-card > span {
  height:9rem;
  width:100%;
  border-radius: 75px 75px 0 0;
}
.trivia__card--blue{
  background-color: var(--main-lightest-blue);
}
.trivia__card--yellow{
  background-color: var(--main-yellow);
}
.trivia__card--pink{
  background-color: var(--main-salmon);
}
.trivia-choice-card > button {
  width:100%;
  height:3rem;
  border-radius: 0 0  75px 75px;
  border:none;
  background-color: white;
}
/* Quiz Direction Styling */
.quiz__wrap{
  margin:3rem;
}
/* Quiz Styling*/
.quiz__category{
  background-color: var(--main-dark-blue);
  width:25rem;
  height:5rem;
  border-radius: 75px;
  color:white;
  margin:auto;
  font-weight: bolder;
  font-size:2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
/* Quiz End Page Styling*/
.quiz__wrap--end{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz__score-card{
  border-radius: 75px;
  width:100%;
  height:7rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:1rem;
}
.quiz__score-card--blue{
  background-color: var(--main-lightest-blue);
}
.quiz__score-card--pink{
  background-color: var(--main-salmon);
}
.quiz__card--score{
  background-color: white;
  width: 10rem;
  height:4rem;
  border-radius: 75px;
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: center;
}
.quiz-end__score--icon, .score__text{
  font-size: 2rem;
  line-height:0;
  margin:0 0.5rem;
}
.quiz-end__score--icon{
  color:var(--main-yellow);
}
.score__message{
  font-size:2rem;
  font-weight: bolder;
}
/* Footer styling*/
.footer__wrap{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:auto;
}
.footer__break{
  background-color:var(--main-light-blue);
  height:2.5px;
  width:100%;
}
.footer__name--icon, .footer__icon{
  font-size:2rem;
  color:var(--main-dark-blue);
}
.footer__name--title{
  font-size:2rem;
}
.footer__name--wrap{
  display:flex;
  justify-content: space-between;
  width:90%;
}
.footer__small{
  font-size:1rem;
}
/* Media Queries*/
@media (max-width: 1000px) {
  .feev__landing-main__blurb{
    width:100%;
    margin:0;
  }
  .feev__landing-main__text{
    margin:0.5rem;
  }
  .feev__landing--title{
    justify-content: center;
    margin-top:1rem;
  }
}
@media (max-width: 768px) {
  .feev__page--wrap{
    flex-flow: column nowrap;
  }
  .sideNav__wrap{
    height:10%;
    border-right:none;
    border-bottom:solid 0.1rem var(--main-dark-blue);
    width:100%;
  }
  .sideNav__list{
    display:flex;
    justify-content:center;
    margin:0;
  }
  /* TO-DO: Height here causing problems with content on trivia page, but if missing when content is low will cause the footer to fix to the top.. Work out later / Only on mobile*/
  .feev__router-page--wrap{
    /* height:80%; */
    width:100%;
  }
  .login-signup__wrap{
    margin:0rem;
    /* width:100%;
    height:75%; */
  }
  .trivia-choice-card{
    flex-basis:45%;
  }
}

@media (max-width: 600px) {
  .header__name{
    margin:1.5rem;
  }
  .mobile__hidden{
    display:none;
  }
  .mobile-nav__show{
    display:inline;
  }
  .offcanvas.offcanvas-start {
    width:80%;
    background-color: var(--main-background);
  }
  .header__name--title{
    font-size: 2.5rem;
  }
  .header__name--icon{
    font-size:2.5rem;
  }
  .header__name{
    margin:0;
  }
  .dropdown{
    margin:0;
  }
  .footer__wrap{
    width:90%;
  }
  header{
    margin:1rem;
  }
  .sideNav__list{
    display:block;
  }
 /*  .feev__router-page--wrap{
    height:100%;
  } */
  .login-signup__form{
    margin:0.5rem;
    width:100%;
    border-radius: 86% 100% 85% 100% / 55% 100% 70% 100%;
  }
  .form__label-input--pair{
    width:85%;
  }
  .feev__landing-main-wrap{
    margin:1rem;
  }
  .trivia-choice-card{
    flex-basis:80%;
  }
}

/* leaderboard styling currently on bottom to not effect line numbers for conflicts  Move into correct positioning once it is finished */
.feev__leaderboard-page-wrap{
  height:100%;
  width:100%;
  
  display:flex;
  justify-content:center;
  align-items:center;
}
.feev__leaderboard-wrap{
  margin:3rem;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}